/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define UP      1
#define DOWN    2
#define FUNCS   3

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping-term-ms = <225>;
            flavor = "tap-preferred";
            bindings =
                <&kp>,
                <&kp>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        ble_clr {
            bindings = <&bt BT_CLR>;
            key-positions = <36 35 34 0>;
        };

        ble_nxt {
            bindings = <&bt BT_NXT>;
            key-positions = <36 35 34 1>;
        };

        ble_prv {
            bindings = <&bt BT_PRV>;
            key-positions = <36 35 34 2>;
        };

        boot {
            bindings = <&bootloader>;
            key-positions = <30 36 34 35>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            &kp Q     &kp W     &kp E      &kp R      &kp T        &kp Y         &kp U        &kp I                   &kp O       &kp P
            &kp A     &kp S     &kp D      &kp F      &kp G        &kp H         &kp J        &kp K                   &kp L  &kp RETURN
 &hm LEFT_SHIFT Z     &kp X     &kp C      &kp V      &kp B        &kp N         &kp M    &kp COMMA  &hm RIGHT_SHIFT PERIOD
        &kp LCTRL  &kp LGUI  &kp LALT  &kp SPACE  &kp SPACE  &lt 1 COMMA  &lt 2 PERIOD  &lt 3 SLASH
            >;
        };

        UP {
            bindings = <
 &kp N1  &kp N2  &kp N3     &kp N4         &kp N5  &kp N6  &kp N7      &kp N8     &kp N9     &kp N0
  &none   &none   &none      &none          &none   &none   &none       &none  &kp EQUAL  &kp MINUS
  &none   &none   &none      &none          &none   &none   &none  &kp DELETE      &none
 &trans  &trans   &none  &kp PG_UP  &kp PAGE_DOWN  &trans  &trans      &trans
            >;
        };

        DOWN {
            bindings = <
          &none    &kp UP_ARROW      &none          &none             &none   &none          &none         &kp MINUS          &kp EQUAL       &kp BSPC
       &kp LEFT  &kp DOWN_ARROW  &kp RIGHT         &trans             &none   &none          &none  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH
 &kp LEFT_SHIFT           &none      &none          &none             &none   &none  &kp SEMICOLON    &kp APOSTROPHE            &kp RET
          &none           &none      &none  &kp LESS_THAN  &kp GREATER_THAN  &trans         &trans            &trans
            >;
        };

        FUNCS {
            bindings = <
      &kp F1  &kp F2  &kp F3        &kp F4        &kp F5  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
      &trans  &trans  &trans        &trans        &trans  &trans  &trans  &trans  &trans   &trans
      &trans  &trans  &trans        &trans        &trans  &trans  &trans  &trans  &trans
 &bootloader  &trans  &trans  &bt BT_SEL 0  &bt BT_SEL 1  &trans  &trans  &trans
            >;
        };
    };
};
